
.jumbotron{
    opacity: 0.2;
    color: black !important
}
.table-responsive{

}


.main .jumbotron{

opacity: 0.5;    
}
.main {
    background-image: url('/images/star.jpg');
    color: black !important;
    
}
.container{
    margin:auto;
}
.traits{
    /* opacity: 0.2; */
    color:white;
}

h4{
    font-size: 40px !important; 
    

}
.secretText {
    margin:  80px !important;
}
p{
    font-size: 20px !important;
    color: white;
    
    
    
}
.pop p{
    color: black !important;
}


img{
    width: 100%;
}
.choose{
    text-align: center;
}
.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    /* min-height: 100vh; */
    /* These two lines are counted as one :-)       */
    text-align: center;
    display: flex;
    align-items: center;
}
.zicon {
    width: 100px;
    height: 90px;
    opacity: 0.5;
    background-repeat: no-repeat;
    /*Scale down will take the necessary specified space that is 100px x 100px without stretching the image*/
}

.view {
    width: 300px;
    margin: 10px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(../images/bgimg.jpg) no-repeat center center
}

.view .mask,
.view .content {
    width: 300px;
    height: 300px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}

.view img {
    display: block;
    position: relative
}

.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}

.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}

.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}

.view a.info:hover {
    box-shadow: 0 0 5px #000
}

.view-first img {
    transition: all 0.2s linear;
}

.view-first .mask {
    opacity: 0;
    background-color: rgba(219, 127, 8, 0.7);
    transition: all 0.4s ease-in-out;
}

.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.view-first p {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}

.view-first a.info {
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first:hover img {
    transform: scale(1.1);
}

.view-first:hover .mask {
    opacity: 1;
}

.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}

.view-first:hover p {
    transition-delay: 0.1s;
}

.view-first:hover a.info {
    transition-delay: 0.2s;
}

body{
background-image: url('/images/star.jpg') !important;
color: black !important;
    background: no-repeat center center fixed;
    background-size: cover;
    
}
button{ 
    /* padding: 3%; */
    background-color:purple;
    position: relative;
    width: 100px !important;
margin: 20px !important;

}
.tapped{
    margin: 100px;
    
}
.well {
background-color: teal !important    ;
border-style: dashed !important;

    
}