body{
    background-image: url('/images/star.jpg')
}
.container{
    margin:auto;
}
h4{
    font-size: 40px !important; 

}
p{
    font-size: 20px !important;
}

img{
    width: 100%
}
.choose{
    text-align: center;
}
.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    /* min-height: 100vh; */
    /* These two lines are counted as one :-)       */
    text-align: center;
    display: flex;
    align-items: center;
}
.zicon {
    width: 100px;
    height: 90px;
    background-repeat: no-repeat;
    /*Scale down will take the necessary specified space that is 100px x 100px without stretching the image*/
}